* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    max-width: 500px;
    display: block;
    margin: auto;
    width: 500px;
    padding: 50px;
    border-radius: 23px;
    box-shadow: 0px 0px 9px #00000029;
}

form h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
form label {
    width: 100%;
}
form input {
     width: 100%;
     padding: 6px;
     border: 1px solid #ccc;
     border-radius: 9px;
}
form button  {
    padding: 6px;
    border: 0;
    background-color: black;
    color: #fff;
    border-radius: 9px;
    padding: 10px 25px;
}
.field {
    margin-bottom: 20px;
}
form p {
    color: red;
}